<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Equipos</title>
		<link rel="stylesheet" href="css/estilos.css"/>
		
	</head>
	
	<body>
		<div>
			<header>
				<h1>Liga de fútbol profesional</h1>
			</header>
			<nav>
				<ul>
					<li><a href="index.html" >Home</a></li>
					<li><a href="fixture.html" >Fixture y resultados</a> </li>
					<li><a href="equipos.html" >Equipos</a> </li>
					
				</ul>
			</nav>
			<section class="equipo">
				 	<table>
				 	<tr>
				 	   <td>
				 	   	   <img src="img/arsenal.png"/>
				 	   </td>
				 	   <td>
				 	   	  <p class="parrafo" >Fundado en el año 1945 en la ciudad de La Plata. Actualmente
				 	   	     su director técnico es Alberto Ravenat. El club cuenta con instalaciones
				 	   	     modernas para realizar los deportes más modernos, actualmente cuenta con 
				 	   	     8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989,
				 	   	     campeonato nacional 2000. Fundado en el año 1945 en la ciudad de La Plata. 
				 	   	     Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones
				 	   	     modernas para realizar los deportes más modernos, actualmente cuenta con 
				 	   	     8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989,
				 	   	     campeonato nacional 2000.  </p> 
				 	   </td>	 
				 	</tr>
				 	<tr>
				 		<td>
				 	   	   <img src="img/arsenal.png"/>
				 	   </td>
					   <td>
				 	   	  <p class="parrafo">Fundado en el año 1945 en la ciudad de La Plata. Actualmente
				 	   	     su director técnico es Alberto Ravenat. El club cuenta con instalaciones
				 	   	     modernas para realizar los deportes más modernos, actualmente cuenta con 
				 	   	     8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989,
				 	   	     campeonato nacional 2000. Fundado en el año 1945 en la ciudad de La Plata.
				 	   	     Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones
				 	   	     modernas para realizar los deportes más modernos, actualmente cuenta con 
				 	   	     8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989,
				 	   	     campeonato nacional 2000. </p> 
				 	   </td>
				 	</tr>
				 	</table>
			</section>
			
			<aside class="auspiciante">
				<h2>Auspiciantes</h2>
					 <div>
					 	<table >
								<tr>
									<img src="img/adidas.png"/>
								</tr>
								
								<tr>
							        <img src="img/macro.jpg"/>
								</tr>
								
								<tr>
									<img src="img/chevrolet.png"/>
								</tr>
								
								<tr>
									<img src="img/fravega.png"/>
								</tr>
						</table>
					 </div>	
						
			</aside>
			
			<footer>
				<p>Av.Pedro Ortiz de Zarate N°455 - Tel 388 4789555</p>
			</footer>
		</div>
	</body>
</html>